
.task-editor-container{
  position: relative;
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  
  .btn-sm {
    margin: .1rem;
    padding: .15rem .3rem;
    font-size: .775rem;
  }

  .custom-link{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .25rem 1rem;
    color: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: .2rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
  }
  
  a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #17a2b8;
  }

  .editor{
    margin-top: 4rem;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-header{
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 1rem 0 3rem;

      &-title span{
        font-size: .9rem;
      }
    }

    &-form {
      font-size: .8rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .event-box {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .custom-form-group {
        width: 80%;
        margin-bottom: 1rem;

        
        .custom-input:disabled {
          background-color: #e9ecef;
          opacity: 1;
        }
        
      }
    }
  }

  .task-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .custom-input {
      width: 80%;
      margin-bottom: 1rem;
    }
  }

  .editor-dashboard{
    flex-basis: 40%;
    border-left: 1px solid #ced4da;
  }

}

.custom-input {
  display: block;
  width: 100%;
  height: auto;
  padding: .375rem .75rem;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.custom-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #17a2b8!important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #13849650!important;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;

  .showcase-header {
    margin-top: 2rem;
  }
}

.showcase-content {
  font-size: .7rem;
  width: 100%;
  padding: 1rem 1rem 0;
}

.showcase-content-events {
  // border: 1px solid red;
  font-size: .7rem;
  width: 100%;
  padding: 0 2rem;

  li {
    margin-bottom: .2rem;
  }
}

.showcase-content-tasks {
  font-size: .7rem;
  width: 100%;
  padding: 0 1rem;

  
  
  .showcase-task-list {
    width: 100%;
    list-style-type: lower-alpha;

    li {
      margin-bottom: 1rem;
    }
    
    .showcase-idosoros-table {
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
      
      .custom-table-header,
      .custom-table-row {
        border-bottom: 1px solid #ced4da;
        width: 100%;
        // font-weight: bolder;
        
        div:first-child {
          width: 6%;
          // border: 1px solid red;
        }
        
        div:nth-child(2) {
          width: 54%;
          // border: 1px solid red;
        }
        
        div:nth-child(3),
        div:nth-child(4) {
          width: 10%;
          text-align: center;
          // border: 1px solid red;
        }
        
        div:last-child {
          width: 15%;
          text-align: right;
          // border: 1px solid red;
        }
        
      }
    }
  }
  
}

//------------------------------------------
.table-box {
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
}

.custom-table-header {
  width: 80%;
  display: flex;

  div {
    font-size: .7rem;
    font-weight: bolder;
    margin: .2rem;

    &:first-child {
      width: 6%;
    }

    &:nth-child(2) {
      width: 54%;
    }

    &:nth-child(3),
    &:nth-child(4) {
      width: 10%;
      text-align: center;
    }

    &:last-child {
      width: 15%;
      text-align: center;
    }
  }
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-table-row {
  flex-basis: 80%;
  display: flex;

  div {
    margin: .2rem;

    &:first-child {
      width: 6%;
    }

    &:nth-child(2) {
      width: 54%;
    }

    &:nth-child(3),
    &:nth-child(4) {
      width: 10%;
    }

    &:last-child {
      width: 15%;
    }
  }

  .table-input {
    display: block;
    width: 100%;
    height: auto;
    padding: .175rem .35rem;
    font-size: .7rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #17a2b8!important;
      outline: 0;
      box-shadow: 0 0 0 0.1rem #13849650!important;
    }
  }
}
