.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
  color: white;
}

.form-control:focus {
  border-color: #17a2b8!important;
  // background-color: #138496;

  color: #495057;
  background-color: #fff;
  // border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #13849650!important;
  // box-shadow: 0 0 0 0.2rem rgba(0 123 255 / 25%);
}