.topics-container {
  display: flex;
  justify-content: space-between;

  .topics,
  .tasks {
    flex-basis: 25%;
  }

  .task-form-container {
    flex-basis: 50%;
  }

  .list-group-item {
    display: flex;
    justify-content: space-between;
    padding: .25rem .5rem;
    font-size: .8rem;

    .first-btn {
      margin-right: 5px;
    }
  }
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}