.admin-dashboard-container {
  display: flex;
  
  .topics-container {
    position: relative;
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;

    .spinner{
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
    }

    .topics,
    .tasks {
      flex-basis: 50%;
    }
    
    .list-group-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .25rem .5rem;
      font-size: .8rem;

      .first-btn {
        margin-right: 5px;
      }
    }
  }
}

.task-form-container {
  flex-basis: 50%;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}