.topics-container {
  width: 65%;
  margin: auto;
  padding-top: 1rem;
}

.topics-container-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: #fff;
}

.topics-container-title {
  font-size: 1.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.topic-header,
.topic-tasks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topic-header {
  margin-top: 1rem;
  padding: .5rem 2rem;
  font-size: 1.2rem;
  background-color:#f3f3f3;
}

.topic-tasks {
  font-size: .9rem;
  padding: .5rem 2rem .5rem 4rem;
}

.first-btn{
  margin-right: 1rem;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}